@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>To see all orders go to: <a asp-action="Index" asp-controller="Order" class="btn btn-outline-secondary">Orders</a></h3>
</div>
